{% if object_list|length > 1 %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const search_form = document.querySelector('form.w-slim-header__search-form');

    if (search_form) {
      search_form.insertAdjacentHTML('beforeend', `
        <a href="{% url order_url_name %}" class="w-header-button button">
          <svg class="icon icon-list-ol icon" aria-hidden="true"><use href="#icon-list-ol"></use></svg>
          Reorder {{ model_opts.verbose_name_plural|capfirst }}
        </a>
      `);
    } else {
      const buttonContainer = document.querySelector('#w-slim-header-buttons');
      if (buttonContainer) {
        buttonContainer.insertAdjacentHTML('beforeend', `
          <a href="{% url order_url_name %}" class="w-header-button button">
            <svg class="icon icon-list-ol icon" aria-hidden="true"><use href="#icon-list-ol"></use></svg>
            Reorder {{ model_opts.verbose_name_plural|capfirst }}
          </a>
        `);
      }
    }
  });
</script>
{% endif %}

